body {
  padding-top: 50px;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
}
.footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #D1C4E9;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #9575CD;
  color: floralwhite;
}
.address {
  margin: 0px;
  font-size: 80%;
  color: #0f0f0f;
}
/* Navigation Background */
.navbar-dark {
  background-color: #512DA8;
}
/* About Us */
.row-content-ext {
  margin: 0px auto;
  padding: 30px 0px;
}
/* Carousel */
.carousel {
  background-color: #512DA8;
}
.carousel .carousel-item {
  height: 300px;
}
.carousel .carousel-item img {
  min-height: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#carousel-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
