.row-header {
  margin: 0 auto;
  padding: 0 0; }

.row-content,
.row-content-last {
  margin: 0 auto;
  padding: 50px 0; }

.row-content {
  border-bottom: 1px ridge; }

.footer {
  background-color: #d1c4e9;
  margin: 0 auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0 auto;
  padding: 70px 30px;
  background-color: #9575cd;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #512da8; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background-color: #512da8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      left: 0;
      top: 0;
      min-height: 300px; }

#carousel-button {
  position: absolute;
  right: 48.5%;
  bottom: 15%; }

#log-btn {
  cursor: pointer; }

#login-modal .modal-header, #reserve-form .modal-header {
  background-color: #512da8;
  color: floralwhite; }
  #login-modal .modal-header button, #reserve-form .modal-header button {
    color: floralwhite; }

#login-modal .modal-body, #reserve-form .modal-body {
  background-color: #d1c4e9; }

#accordion {
  cursor: pointer; }
